.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../Resourses/images/hero.jpg);
  background-position: center;
  background-size: cover;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative;

  &__logo {
    height: 3.5rem;

    &-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
  }

  &__text-box {
    @include center;
    text-align: center;
  }
}
